@{
    ViewData["Title"] = "Home Page";
}
<body>
    <!-- Page Preloder -->
    <div id="xheader_menu">
        <ul class="nav header_menu-list">
            <li class="nav-item"><a href="/home" title="Home">Home</a></li>
            <li class="nav-item"><a href="/movie" title="Movies">Movies</a></li>
            <li class="nav-item"><a href="/tv" title="TV Series">TV Series</a></li>
            <li class="nav-item"><a href="/most-popular" title="Most Popular">Most Popular</a></li>
            <li class="nav-item"><a href="/top-airing" title="Top Airing">Top Airing</a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
   @* <div id="preloder">
        <div class="loader"></div>
    </div>*@
</body>
