@{
    ViewData["Title"] = "Home Page";
}
<body>
    <!-- Page Preloder -->
    <div id="xheader_menu">
       
        <div class="clearfix"></div>
    </div>
   @* <div id="preloder">
        <div class="loader"></div>
    </div>*@
</body>
